<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define ProductVersion="1.0.0" ?>
  <?define ProductVersionTitle="1.0.0.0" ?>
  <?define UpgradeCode="{9EAD0F41-F6BB-4FDD-B2C3-2C8D3AFD5F47}"?>
  <Product Id="C67902D9-4B2B-4AF2-AC11-DC08107BC12F" Name="NDjango $(var.ProductVersionTitle)" Language="1033" Version="$(var.ProductVersion)" Manufacturer="Hill30" UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="200" Compressed="yes" />
    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />
    <Upgrade Id="$(var.UpgradeCode)">
      <!--<UpgradeVersion Minimum="$(var.ProductVersion)" IncludeMinimum="no" OnlyDetect="yes" Language="1033" Property="NEWPRODUCTFOUND" />-->
      <UpgradeVersion Minimum="1.0.0" IncludeMinimum="yes" Maximum="$(var.ProductVersion)" IncludeMaximum="yes" Language="1033" Property="UPGRADEFOUND" />
    </Upgrade>
    <PropertyRef Id="NETFRAMEWORK35" />
    <Condition Message="This application requires .NET Framework 3.5. Please install the .NET Framework then run this installer again.">Installed OR NETFRAMEWORK35</Condition>
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" Overridable="yes" />
    <WixVariable Id="WixUIBannerBmp" Value="bitmaps\bannrbmp.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="bitmaps\dlgbmp.bmp" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="PFiles">
        <Directory Id="Hill30" Name="Hill30">
          <Directory Id="INSTALLDIR" Name="NDjango">
            <Component Id="NDjangoAssemblies" Guid="A1C08B86-9112-41CA-8A3A-BE2CE8695934">
              <File Id="NDjango.Core.dll" Name="NDjango.Core.dll" Source="..\..\..\..\bin\NDjango.Core.dll" />
              <File Id="NDjango.Filters.dll" Name="NDjango.Filters.dll" Source="..\..\..\..\bin\NDjango.Filters.dll" />
            </Component>
            <Component Id="ReleaseNotes" Guid="783AA2F7-130D-4863-9FDA-7BBA61D959BF">
              <File Id="ReleaseNotes.htm" Name="ReleaseNotes.htm" ShortName="RELEASE.HTM" Source="..\ReleaseNotes.htm" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
    <Feature Id="ProductFeature" Level="1">
      <ComponentRef Id="NDjangoAssemblies" />
      <ComponentRef Id="ReleaseNotes" />
    </Feature>
    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallInitialize" />
    </InstallExecuteSequence>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <UIRef Id="WixUI_InstallDir" />
    <UI />
  </Product>
</Wix>